/* CSS declarations go here */
body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

ul {
    border-top: 1px solid #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    border-bottom: 1px solid #333;
    display:block;
}

ul a {
    display:block;
    color: #333;
    padding: 10px 10px;
    text-decoration: none;
}

a:active {
    background: #333;
    color: #FFF;
}

a.correct {
    background: lightgreen;
    color: green !important;
}

a.wrong {
    background: pink;
    color: red !important;
}

.secretNameListWrapper {
    background: #000;
    background: rgba(0,0,0,0.6);
    display: none;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.secretNameListBorderRadius {
    background: #FFF;
    border: 4px solid white;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.secretNameListInner {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.secretNameList {
    background: #FFF;
    border-top: none;
}

.secretNameList li {
    background: #FFF;
}

.secretNameList li:first-child {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 10px;
    text-align: center;
}


form {
    padding:20px;
}

input, textarea {
    font-size: 20px;
    display:block;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
}

input[type="submit"] {
    margin-bottom: 0;
}